h1.new-group {
  text-align: center;
}

.about-group {
  resize: vertical;
}

.create-button {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #f65858;
  margin-bottom: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}
