.group-roll-container {
  padding: 10px;
}

.events-container {
  display: flex;
  width: 40rem;
  margin-left: 17rem;
  margin-top: 1rem;
}

.inner-container {
  display: flex;
  width: 40rem;
  /* margin-top: 1rem; */
  padding: 0 0 1rem 1rem;
  border: none white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.inner-container:hover {
  background-color: rgb(235,244,246);
}

a {
  text-decoration: none;
}

.image-container {
  display: flex;
  margin-top: 1rem;
}

.prevImg {
  height: 5.5rem;
  width: 10rem;
  border-radius: .7rem;
}

.group-roll-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 100%;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}


.group-name {
  color: rgb(33, 33, 33);
  font-weight: bold;
}

.location {
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(135, 116, 87)

}

.about {
  text-decoration: none;
  color:rgb(117 117 117);
  font-size: .9rem;
}

.members {
  margin-top: 1rem;
  color:rgb(117 117 117);
  font-size: .9rem;
}

.create-event, .delete-group {
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  border: none;
  background-color: #f65858;
  width: 5rem;
  height: 3rem;
  margin: .5rem .5rem;
}
