#group-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 33rem;
}

.group-button {
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  border: none;
  background-color: #f65858;
  width: 7rem;
  height: 3rem;
}
