.roll {
  display: flex;
  justify-content: center;
  margin-right: 30rem;
  margin-bottom: 1rem;
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  line-height: 1.75rem;
}

a.active {
  color: rgb(0 130 148);
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: .25rem;
}

.events {
  margin-right: 1rem;
  text-decoration: none;
  color: gray;
}

.groups {
  text-decoration: none;
  color: gray;
}
