.entire {
  display: flex;
  flex-direction: column;
}

.event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  margin-right: 43rem;
}

.h1 {
  font-weight: bolder;
}

.h4 {
  color: rgb(117 117 117);
  font-weight: normal;
}

.manipulate {
  display: flex;
  margin-top: 1rem;
}

.delete-event {
  margin-right: 1.5rem;
}

.butt-2 {
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 1rem;
  border: none;
  background-color: #f65858;
  width: 6rem;
  height: 3rem;
}

.more-details {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: #f5f6f7;
  height: 100%;
}

.visuals {
  margin-top: 3rem;
}

.event-pic {
  height: 20rem;
  width: 35rem;
  border-radius: 1rem;
}

p.details {
  inline-size: 25rem;
  overflow-wrap: break-word;
}

.visuals-2 {
  height: fit-content;
  width: fit-content;
  margin-left: 3rem;
}

.small-image {
  display: flex;
  margin-top: 3rem;
  border: 1rem;
  border-radius: 1rem;
  background-color: white;
  border: 1rem;
  padding: 1rem;
}

.small-image > img {
  height: 60px;
  width: 60px;
  border-radius: 1rem;
}

.small-info {
  display: flex;
  margin-top: 1rem;
  border: 1rem;
  border-radius: 1rem;
  background-color: white;
  border: 1rem;
  padding: 1rem;
}

#name-group {
  display: grid;
  margin-left: 1rem;
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  ;
}

.privacy {
  font-size: .9rem;
}

.privacy-2 {
  margin-left: .2rem;
}

i {
  margin-right: 1rem;
  padding: .5rem;
}

.google-map {
  margin-top: 1rem;
}
