h1.new-event {
  text-align: center;
}

.errors {
  margin-bottom: 1rem;
  color: red;
}

.create-button {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #f65858;
  margin-bottom: 1rem;
}
