.nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 50px 20px;
}

/* img {
  height: 60px;
  width: 60px;
} */

.login-signup {
  display: flex;
  margin: 5px;
}

.login {
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(33, 33, 33, .8);
  text-decoration: none;
}

.signup {
  font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  color: rgba(33, 33, 33, .8);
  text-decoration: none;
}

.login:hover {
  color: teal;
}

.signup:hover {
  color: teal;
}

#logo {
  color: #f34060;
  text-decoration: none;
  font-family: Segoe Script,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  font-size: 2.5rem;
}

#logo:hover {
  opacity: .8;
}

/* .user {
  display: flex;
  justify-content: space-between;
} */
